extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/search.pug
block main 
    h1 Danh sách tài khoản

    +alertChange(3000)
    +alert-error(3000)
    .cart.mb-3
      .card-header.text-bold Tạo tài khoản
          .col-4.mt-4
            a(
              href=`${prefixAdmin}/accounts/create`
              class = "btn btn-outline-success" 
            ) + Thêm mới
          .col-4.mt-4 
            +search(keyword)

    table(checkbox-mutil)
      thead
        tr
          th 
            input(type="checkbox", name="checkbox-all")
          th STT
          th Hình ảnh
          th Tên
          th Email
          th Nhóm quyền
          th Trạng thái
          th Hành động
      tbody
        each item, index in accounts
          tr
            td 
              input(type="checkbox", name="checkbox-id" value=item.id)
            td #{index + 1}
            td: img(src=item.avatar, alt=item.fullName)
            td #{item.fullName}
            td #{item.email}
            td #{item.role_title}
            td 
              if(item.status == "active")
                span(
                  class = "status-active"
                  button-change-status 
                  data-status = item.status
                  data-id = item.id 
                  ) Hoạt động
              else
                 span(
                  class = "status-inactive"
                  button-change-status 
                  data-status = item.status
                  data-id = item.id 
                  ) Dừng hoạt động
            td
              button.detail 
                a(class="detail" href=`${prefixAdmin}/product/detail/${item.id}` style="color: white;") Chi tiết
              button.edit 
                a(class="edit" href=`${prefixAdmin}/accounts/edit/${item.id}` style="color: white;") Sửa
              button(class="delete" data-id = item.id delete-button) Xóa

    //- +pagination(pagination)

    form(action="", method="POST" path-data=`${prefixAdmin}/accounts/change-status` change-status-form) 
    form(action="", method="POST" path-data=`${prefixAdmin}/accounts/delete` delete-form)
    script(src="/admin/js/script.js")  
    script(src="/admin/js/account.js") 

