extends ../../layouts/default.pug
include ../../mixins/filterButtons.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
block main 

    if(role.permissions.includes("products_view"))
      +alertChange(3000)
      +alert-error(3000)
      h1 Danh sách sản phẩm
      .cart.mb-3
        .card-header Bộ lọc và Tìm kiếm
        
        .card-body
          .row.mb-3
            .col-6
              +filterButtons(filterButtons)
              .col-6.d-flex.align-items-start.mb-4.mt-4
                div(sort style="display: flex; align-items: center") 
                  select(name="type" class="form-control")
                    option(disabled selected) -- Sắp xếp sản phẩm --  
                    option(value="price-desc") Giá giảm dần 
                    option(value="price-asc") Giá tăng dần 
                    option(value="title-asc") Từ A-Z 
                    option(value="title-desc") Từ Z-A 
                button(class="btn btn-primary" style="height: 38px; margin-left: 5px; font-size: 18px" button-clear) Clear
            .col-6.mb-3
              +search(keyword)
            form(
              action=`${prefixAdmin}/product/change-multi?_method=PATCH`
              method="POST"
              class="form-change-multi"
            )
              .d-flex.align-items-start
                  .form-group
                      select(name="type" class="form-control")
                          option(disabled selected) -- Hãy chọn hoạt động --  
                          option(value="active") Hoạt động
                          option(value="inactive") Dừng hoạt động
                          option(value="delete-all") Xóa nhiều sản phẩm
                          option(value="change-position") Thay đổi vị trí
                  .form-group
                      input(
                          type="text"
                          name="ids"
                          value=""
                          class="form-control"
                          style="display: none"
                      )
                  button(type="submit" class="btn btn-primary") Áp dụng
            .col-4
              if(role.permissions.includes("products_create"))
                a(
                  href=`${prefixAdmin}/product/create`
                  class = "btn btn-outline-success"  
                ) + Thêm mới
      table(checkbox-mutil)
        thead
          tr
            th 
              input(type="checkbox", name="checkbox-all")
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th Vị trí
            th Trạng thái
            th Hành động
        tbody
          each item, index in products
            tr
              td 
                input(type="checkbox", name="checkbox-id" value=item.id)
              td #{index + 1}
              td: img(src=item.thumbnail, alt=item.title)
              td #{item.title}
              td #{item.price}$
              td 
                input(type="number" value=item.position  style="width: 60px" min="1" name="position")
              td 
                if(role.permissions.includes("products_edit"))
                  if(item.status == "active")
                    span(
                      class = "status-active"
                      button-change-status 
                      data-status = item.status
                      data-id = item.id 
                      ) Hoạt động
                  else
                    span(
                      class = "status-inactive"
                      button-change-status 
                      data-status = item.status
                      data-id = item.id 
                      ) Dừng hoạt động
                else 
                  if(item.status == "active")
                    span(
                      class = "status-active"
                      data-status = item.status
                      data-id = item.id 
                      ) Hoạt động
                  else
                    span(
                      class = "status-inactive"
                      button-change-status 
                      data-id = item.id 
                      ) Dừng hoạt động
              td
                button.detail 
                  a(class="detail" href=`${prefixAdmin}/product/detail/${item.id}` style="color: white;") Chi tiết
                if(role.permissions.includes("products_edit"))
                  button.edit 
                    a(class="edit" href=`${prefixAdmin}/product/edit/${item.id}` style="color: white;") Sửa
                if(role.permissions.includes("products_delete"))
                  button(class="delete" data-id = item.id delete-button) Xóa

      +pagination(pagination)

      form(action="", method="POST" path-data=`${prefixAdmin}/product`) 
      form(action="", method="POST" path-data=`${prefixAdmin}/product/delete` delete-form) 
      script(src="/admin/js/product.js") 
