.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            li
                a(href=`${prefixAdmin}/product`) Sản phẩm  
            li
                a(href=`${prefixAdmin}/product-category`) Danh mục sản phẩm 
            li
                a(href=`${prefixAdmin}/roles`) Nhóm phân quyền
            li
                a(href=`${prefixAdmin}/roles/permissions`) Trang phân quyền
            li 
                a(href=`${prefixAdmin}/accounts`) Quản lý tài khoản